<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NSS Mushroom Mania</title>

	<link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body ng-app="mushroomMania">

	<!-- <h1>NSS Mushroom Mania</h1> -->


	<div ng-controller="ItemCtrl">

		<!-- Above the list, provide one text box, and two radio buttons. -->
		<!-- The radio buttons should be labeled Poisonous and Non-poisonous. -->

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h1>Selected Shrooms</h1>
			</div> <!-- .col -->
		</div> <!-- .row -->


		<div ng-show="showMushroomList">

			<input type="text" name="" placeholder="Mushroom Name ..." ng-model="SearchText">

			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h3>Shrooms</h3>
				</div>
			</div>

			<div class="row">
				<div ng-repeat="item in mushrooms | filter:{edible:true} | filter: SearchText">
				<!-- <div ng-repeat="item in mushrooms"> -->
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-xs-2">
							</div>
							<div class="col-xs-8">
								<div><h2>{{item.name}}</h2></div>
								<div>{{item.edible}}</div>
								<div>{{item.description}}</div>
							</div> <!-- .col -->
						</div>  <!-- .panel-body -->
					</div>  <!-- .panel -->
				</div> <!-- ng-repeat ... -->
			</div> <!-- .row -->
		</div> <!-- ng-show=showMushroomList -->
	</div> <!-- ng-controller -->

  
	<!-- 3rd party scripts -->
  	<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
	<script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>

	<!-- personal scripts -->
	<script type="text/javascript" src="./javascripts/app.js"></script>
  	<script type="text/javascript" src="./javascripts/AppConstants.js"></script>
	<script type="text/javascript" src="./javascripts/main.js"></script>

</body>
</html>