<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NSS Mushroom Mania</title>

	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body ng-app="mushroomMania">

	<div ng-controller="ShroomCtrl">

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h1>Mushroom Mania</h1>
			</div> <!-- .col -->
		</div> <!-- .row -->

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<input type="text" name="" placeholder="search Shrooms ..." ng-model="SearchText">
			</div>
			<div class="radio col-xs-8 col-xs-offset-2">
				<label class="radio-inline">
				<input type="radio" ng-model="poisonFilter" ng-click="showPoisonous()" value="false" name="shroomType">Poisonous</label>

				<label class="radio-inline">
				<input type="radio" ng-model="poisonFilter" ng-click="showNonPoisonous()" value="true" name="shroomType">Non-Poisonous</label>

				<!-- <label class="radio-inline">
				<input type="radio" ng-model="poisonFilter" ng-click="showNonPoisonous()" value="undefined" name="shroomType">Display All</label> -->
			</div>
		</div>			


		<!-- <div ng-show="nonPoisonous">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h3>Non-Poisonous Shrooms</h3>
				</div>
			</div>		 -->	
			<div class="row">
				<div ng-repeat="item in mushrooms | filter:{edible: poisonFilter} | filter: SearchText">
					<div class="shroomOutput col-xs-8 col-xs-offset-2">
						<div><h2>{{item.name}}</h2></div>
						<!-- <div>{{item.edible}}</div> -->
						<div class="desc">{{item.description}}</div>
					</div> <!-- .col -->
				</div> <!-- ng-repeat ... -->
			</div> <!-- .row -->
		<!-- n</div> g-show=nonPoisonous -->

		<!-- <div ng-show="!nonPoisonous"> -->
			<!-- <div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h3>Poisonous Shrooms</h3>
				</div>
			</div>		 -->	
			
		<!--</div>  ng-show=!nonPoisonous -->

	</div> <!-- ng-controller -->

  
	<!-- 3rd party scripts -->
  	<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
	<script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>

	<!-- personal scripts -->
	<script type="text/javascript" src="./javascripts/app.js"></script>
  	<script type="text/javascript" src="./javascripts/AppConstants.js"></script>
	<script type="text/javascript" src="./javascripts/main.js"></script>

</body>
</html>