body {
  background-size: cover;
  background-image: url("/images/background.jpeg");
  max-width: 100%;
  opacity: 0.5;
  font: 100% "Cabin", sans-serif; }

input {
  font-size: 2em; }

.radio {
  font-size: 1.8em;
  font-weight: 900; }

.shroomOutput .desc {
  font-size: 1.5em;
  font-weight: 900; }
